*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --hue-btn: rgb(40, 122, 185);
  --hue-btn-border: blue;
  --hue-wrong: red;
  --hue-correct: green;
  --hue-neutral: rgb(10, 51, 83);
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--hue);
}

.container {
  font-size: 30px;
  width: 800px;
  max-width: 80%;
  background-color: silver;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.btn {
  font-size: 30px;
  border-radius: 5px;
  border: 2px solid var(--hue-btn-border);
  background-color: var(--hue-btn);
  padding: 5px 10px;
  color: silver;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  color: black;
  background-color: var(--hue-correct);
}
.btn.wrong {
  background-color: var(--hue-wrong);
}
.start-btn,
.next-btn {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
